{% load i18n %}
{% autoescape off %}
<!DOCTYPE html>
<html>
<head>
    <title>{% trans "Activation de votre Compte" %}</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333;">

    <div style="max-width: 600px; margin: 20px auto; padding: 20px; border: 1px solid #ddd; border-radius: 8px;">
        <h2 style="color: #007bff;">{% trans "Bienvenue, " %}{{ user.username }}!</h2>
        <p>{% trans "Veuillez cliquer sur le bouton ci-dessous pour confirmer votre adresse e-mail et activer votre compte." %}</p>

        <p style="text-align: center; margin: 30px 0;">
            <a href="{{ activation_url }}"
            style="display: inline-block; padding: 12px 25px; background-color: #28a745; color: #ffffff; text-decoration: none; border-radius: 5px; font-weight: bold; border: 1px solid #28a745;"
            >ACTIVER MON COMPTE</a>

            {{ activation_url }}
        </p>

        <p style="font-size: 12px; color: #666;">
            {% trans "Si le bouton ne fonctionne pas, copiez et collez ce lien dans votre navigateur :" %}
            <br>
            <a href="http://{{ site.domain }}{% url 'utilisateur:registration_activate' activation_key %}" style="word-break: break-all;">
                http://{{ site.domain }}{% url 'utilisateur:registration_activate' activation_key %}
            </a>
        </p>

    </div>

</body>
</html>
{% endautoescape %}