{% extends 'front/header/header.html' %}
{% load static %}


    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/publication_avis/publication_avis.css' %}">

    {% endblock %}

    

{% block containter%}

    <div class="container content-wrapper-light pt-5">

        <form action="{% url 'publication_avis:creation_publication_avis' %}" method="POST" class="creation-form p-5 rounded-3 shadow-lg">
            {% csrf_token %}
            <h3 class="mb-4 text-center text-secondary">Enregistrer une Nouvelle Publication avis</h3>

            <div class="row g-4 justify-content-center">

                <div class="col-md-8">
                    <label for="reference_avis" class="form-label">Réference avis<span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                        <input type="text" class="form-control" id="reference_avis" name="reference_avis" placeholder="Ex:01,02 ETC." required>
                    </div>
                </div>

                <div class="col-12">
                    <label for="titre_avis" class="form-label">titre avis<span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-city"></i></span>
                        <input type="text" class="form-control" id="titre_avis" name="titre_avis" placeholder="Ex: complement tarifs passages du train express" required>
                    </div>
                </div>

                <div class="col-12">
                    <label for="date_avis" class="form-label">date avis<span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-city"></i></span>
                        <input type="date" class="form-control" id="date_avis" name="date_avis"required>
                    </div>
                </div>


                <div class="col-12">
                    <label for="message_avis" class="form-label">message_avis<span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-city"></i></span>
                        <textarea type="text" name="message_avis" id="message_avis" class="form-control" required></textarea>
    
                    </div>
                </div>


                    <div class="col-12">
                    <label for="consigne_avis" class="form-label">consigne avis<span class="text-danger">*</span></label>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-city"></i></span>
                        <textarea type="text" name="consigne_avis" id="consigne_avis" class="form-control" required
                            placeholder="EX: Le presnet avis au public qui complète les dispositions antérieures entre en vigeur à la date de sa signature"
                        
                        
                        ></textarea>
    
                    </div>
                </div>

            </div>

            <div class="d-grid mt-5">
                <button type="submit" class="btn btn-lg btn-danger fw-bold">
                    <i class="fas fa-save me-2"></i> Enregistrer
                </button>
            </div>

        </form>


        {% comment %}
            Bloc pour afficher les erreurs au momemnt du traitement du formaulire soumit
        {% endcomment %}
        {% if erreur %}
            <div class="alert alert-danger mt-3" role="alert">
                <h4 class="alert-heading">Erreur(s) détectée(s) :</h4>
                
            
                <p class="mb-0">
                    <strong>{{ erreur }} </strong>
                </p>
                
                
            </div>
        {% endif %}
    </div>

{% endblock %}
