
.custom-footer {
    background-color: #080160;
    color: #495057; 
}

.custom-footer-btn {
    border-radius: 50px; 
    padding: 10px 25px;
    font-weight: 500;
    color: #495057;
    border-color: #ced4da;
}

.custom-footer-title {
    font-weight: bold;
    color: #343a40; 
    font-size: 1rem;
}

.custom-footer-list li a {
    color: #6c757d; 
    text-decoration: none;
    line-height: 2.2; 
    font-size: 0.95rem;
}

.custom-footer-list li a:hover {
    color: #4a69bd; 
}

.custom-help-btn {
    border-radius: 4px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: white; 
    border: 1px solid #ced4da;
}


.custom-social-icons a {
    font-size: 1.5rem;
    color: #6c757d;
    transition: color 0.2s;
}

.custom-social-icons a:hover {
    color: #4a69bd;
}


.custom-legal-bar {
    font-size: 0.85rem;
}

.custom-legal-bar a {
    color: #6c757d;
    text-decoration: none;
}

.custom-legal-bar a:hover {
    text-decoration: underline;
}

.custom-footer-brand {
    font-weight: 900;
    font-size: 1.2rem;
    color: #e74c3c; 
}