.login-card {
    max-width: 400px; 
    margin-top: 10vh; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
}
.input-group-text {
    background-color: #e9ecef;
    color: #495057;
}


.container{
    z-index: 1;
}