.form-control {

    background-color: #f8f9fa; 
}

.input-group-text {

    background-color: #f8f9fa;

    color: #495057; 

    border-right: none; 
}

.form-control:focus {
    background-color: #ffffff; 
}