{% extends '../head.html' %}
{% load static %}

    <link rel="stylesheet" href="{% static 'css_compte/login.css' %}">


    {% block containter %}


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <div class="card p-4 login-card">
                        <div class="card-body">

                            <h3 class="card-title text-center mb-4">
                                <i class="fas fa-user-circle me-2 text-danger"></i>
                                CONFIRMER VOTRE COMPTE
                            </h3>

        
                            
                            <div class="alert alert-warning" role="alert">
                                <p>Regardez votre boite email pour avoir votre identifiant</p>
                            </div>
                            


                          
                            
                            <form method="post" action="{% url 'utilisateur:confirmation_compte' %}">
                                {% csrf_token %}
                                
                                <div class="mb-3">
                                    <label for="id" class="form-label">IDENTIFIANT</label>
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        <input type="text" 
                                               class="form-control" 
                                               id="id" 
                                               name="id"
                                               placeholder="Entrez votre identifiant"
                                               required>
                                    </div>
                                </div>
                    


                                <div class="d-flex justify-content-center ">
                                    <button type="submit" class="btn btn-danger w-50 btn-xl ">
                                        <i class="fas fa-sign-in-alt me-2"></i>
                                        Valider
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
